---
title: About
date: 2018-04-12 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->
	<div class="col-md-9">
	  <!--<h2 class="no-top-space">Me</h2>-->
		<p>
			Hi,
			<br/>
			I’m Julian. At heart I am a lead-developer-turned-entrepreneur.
		</p>

		<p>I learn by doing, so the way I explore a new language or technique is to approach it hands-on.<p>

		<p>
			A while back I was practicing a technique called "TDD As If You Meant It".
			I was getting better at it but a question started popping up in my head. It was more like a concern.
			<b>When should you introduce a new technique to your production work?</b><br/>
			If you do it too early it might affect your productivity.
		</p>

		<p>
			Up to that point I was practicing using simple code katas so moving from the practice katas to a live system felt like a big leap.<br/>
			I needed something in-between, something like a simulation of a real-world scenario.
		</p>

		<p>
			This is how I came with the idea of simulating multiple incremental requirements to create a more complex, real-world challenge.
			The principle was that <b>I would use this challenge until I have mastered the new technique</b> and it would not affect my productivity.
			Only then I would start applying the technique in my day to day business work.<br/>
			This worked very well for me as it provided objective metrics on how well I was doing.
		</p>

		<p>
			In 2016 I have decided to share this approach with the community and this lead to the creation of <a href="befaster.io">BeFaster.io</a>, a data-driven workshop were people put their development technique to the test.
		</p>

		<p>
			Given the objective feedback that people were getting from the coding challenge, a friend suggested that these insights would be really useful during the recruitment process.<br/>
			Having interviewed developers myself, I would have loved to have such detailed insights into someone coding style and delivery speed.
			This lead to the creation of the Accelerate.io platform in 2017.
		</p>

		<p>
			I like to think that I am making the recruitment experience better by turning this into a <b>learning experience for the candidate</b>.<br/>
			This is my way of giving back to the community.
		</p>
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-3 front-team">
			<div class="thumbnail">
				<img src='../content/julian_about.jpg'>
				<h3>
					<strong>Julian Ghionoiu</strong>
					<small>CTO & Founder at Accelerate.io</small>
				</h3>
				<p>Software craftsman on a journey to help companies build and train high-performance teams.</p>
				<ul class="social-icons social-icons-color">
					<li><a class="twitter" data-original-title="Twitter" href="https://twitter.com/julianghionoiu"></a></li>
					<li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/iulianghionoiu/"></a></li>
				</ul>
			</div>
	</div>
	<!-- END CAROUSEL -->
      </div>


    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
